@font-face {
    font-family: Museo300;
    src: url(https://valholl-prd.wowair.com/fonts/museo-sans/museosans-300-webfont.woff2);
}

body {
    font-family: Museo300;
    margin: 0;
}

/***********   TABLET   ***********/

@media only screen and (min-width: 35em) {
    body {
        display: block;
        justify-content: center;
    }
    article#verhaal84 {
        padding: 2em !important;
    }
    h1 {
        font-size: 1.5em !important;
    }
    header form button {
        width: 6% !important;
    }
    img {
        width: 70% !important;
    }
    article button#verhaal84 {
        right: 0 !important;
        background-repeat: no-repeat;
        width: 8% !important;
        padding-top: 13% !important;
    }
    section {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 1em;
    }
    nav ul li button {
        width: 1em !important;
        padding: 1em !important;
    }
    nav ul li button:hover {
        transform: scale(1.1);
    }
    header form input[type="search"] {
        font-size: 1em !important;
    }
    header form input[type="submit"] {
        width: inherit !important;
        font-size: 1em !important;
    }
}

/**********************/





/**********   LAPTOP    ************/

@media only screen and (min-width: 60em) {
    article#verhaal84 {
        line-height: 1.4em !important;
        margin: 0 6em !important;
        padding: 3em 4em !important;
    }
    article#verhaal84>img {
        width: 80%;
    }
    article a {
        font-size: 150%;
    }
    header form button {
        padding-top: 2% !important;
        right: -2em;
    }
    nav {
        height: 3em;
    }
    img {
        width: 100% !important;
    }
    header form input[type="search"] {
        width: 18em !important;
    }
    a#verhaal {
        font-size: 1.5em !important;
    }
    body {
        display: block;
        justify-content: center;
    }
    section {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 1em;
    }
    section:first-of-type {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        grid-gap: 1.5em;
    }
}


/**********************/




/*opengeklapte formulier van sort en filter*/

body form {
    height: 100%;
    padding: 1em 3em;
    background-color: white;
    position: fixed;
    z-index: 3;
    display: inline;
    right: 0;
    box-shadow: 0px 0px 10px 1px #000000a6;
}

aside {
    background-color: #981a81d4;
    color: white;
    position: absolute;
    z-index: 3;
    padding: 1em;
    top: 3em;
    right: 0;
    border-radius: 0.8em;
}

body form legend {
    text-transform: uppercase;
    font-size: 1em;
    padding: 1em 0;
}

body form legend:first-child {
    text-transform: none;
    font-size: 1em;
    padding: 1em 0;
}

body form fieldset {
    border: none;
    padding: 0.5em 0;
}

body div {}

body form button {
    font-size: 1em;
    background-color: transparent;
    display: inline;
    border: 0px;
}

option {
    font-size: 1.4em;
    font-family: Museo300 !important;
    padding: 1em;
    border: 1px solid grey;
}


/**********************/




/**********   HEADER   ************/

header {
    position: fixed;
    background-color: white;
    top: 0;
    z-index: 2;
    width: 100%;
}

nav {
    margin: 2em;
    border-bottom: solid 0.1em #a6c4c4;
    height: 4em;
}

ul {
    padding: 0;
    display: flex;
    justify-content: center;
    position: relative;
}

li {
    list-style-type: none;
}

nav ul li button {
    background-image: url('images/profiel.svg');
    background-color: transparent;
    border: 0px;
    background-repeat: no-repeat;
}

nav ul li:nth-of-type(2) {
    height: 0;
    display: inline;
    position: absolute;
    right: 1em;
    color: #99258d;
    font-size: 0.8em;
    font-weight: 700;
    margin-top: 2em;
}

nav ul li a img {
    height: 140%;
}

nav ul li a img:hover {
    transform: scale(1.1);
}

header form button {
    background-image: url('images/sortFilter.svg');
    background-repeat: no-repeat;
    height: 45%;
    background-color: transparent;
    border: 0px;
    position: absolute;
    width: 15%;
    right: 1em;
}

header form button:hover {
    transform: scale(1.1);
}

/**********************/


/**********  MAIN   ************/

main {
    padding: 13em 2em 2em 2em;
    z-index: 1;
}

main a {
    text-decoration: none;
    color: #981a81;
}

body form input[type="submit"] {
    background-color: #981a81;
    color: white;
    font-size: 1em;
    padding: 1em;
    border-radius: 0.2em;
}


section {
    padding-top: 2em;
}

summary {
    background-color: #981a81;
    padding: 1.1em;
    color: white;
    text-transform: uppercase;
    font-size: 1.15em;
}

details[open] summary {
    background-color: #6d105c;
}

article a {
    text-decoration: none;
    font-size: 1.8em;
    display: inline;
    color: black;
    width: 8em;
}

article a:hover {
    color: #99258d;
}

details article ul:first-of-type {
    display: grid;
    grid-template-columns: 2fr 0.8fr;
    grid-template-rows: 1fr;
    grid-gap: 0.5em 1em;
}

article ul {
    display: grid;
    grid-template-columns: 2fr 0.8fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 0.5em 1em;
}

article ul li:nth-of-type(4) {
    background-color: #FFDF5D;
    height: 0.5em;
    margin-top: 2em;
}

body form p {
    color: #FFDF5D;
    font-size: 2em;
}

body form p:hover {
    color: #99258d;
}

article ul li:nth-of-type(3) {
    color: #FFDF5D;
    font-size: 2em;
}

article ul li:nth-of-type(3) sup {
    color: #c6c6c6;
    font-size: 1em;
    vertical-align: inherit;
}

article ul li:nth-of-type(3) sup:hover {
    color: #FFDF5D;
}

figure {
    margin: 0;
    position: relative;
    margin-bottom: 2%;
}

figcaption {
    display: inline;
    background-color: #981a81;
    color: white;
    position: absolute;
    bottom: 0.9em;
    left: 2em;
    padding: 0.2em;
    text-transform: uppercase;
}

figcaption:hover {
    background-color: #FFDF5D;
}

h1 {
    font-size: 1em;
}

h1:first-child {
    font-size: 1.5em !important;
    margin: 1em 0;
    text-transform: uppercase;
    background-color: #FFDF5D;
    padding: 1em;
}

fieldset ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 0.5em;
    margin: 0;
    margin-top: 1em;
}

fieldset ul li {
    height: 1em;
    text-transform: uppercase;
    color: white;
    padding: 2em 0.5em;
    text-align: center;
}

fieldset ul li:hover {
    color: #981a81;
}

fieldset ul li:nth-of-type(1) {
    background-color: #595959;
}

fieldset ul li:nth-of-type(2) {
    background-color: #4CAF4A;
}

fieldset ul li:nth-of-type(3) {
    background-color: #f0957f;
}

fieldset ul li:nth-of-type(4) {
    background-color: #13143e;
}

fieldset ul li:nth-of-type(5) {
    background-color: #d84060;
}

fieldset ul li:nth-of-type(6) {
    background-color: #2bbba9;
}

header form {
    background-color: #981a81;
    padding: 1em;
    margin: 2em 2em 0 2em;
    position: relative;
    display: block;
    width: unset;
    box-shadow: none;
}

header form input[type="search"] {
    margin-right: 0.4em;
    padding: 0.7em 1em;
    display: inline;
    box-sizing: border-box;
    border-radius: 0.2em;
    border: 0.5em;
    resize: vertical;
    font-size: 1em;
    font-family: Museo300;
    width: 8em;
}

header form input[type="submit"] {
    padding: 0.7em 1em;
    border-radius: 0.8em;
    border: 0.5em;
    font-family: Museo300;
    text-transform: uppercase;
    resize: vertical;
    color: black;
    background-color: #FFDF5D;
    margin-top: 0;
}

header form input[type="submit"]:hover {
    transform: scale(1.1);
}

article#verhaal84 {
    padding: 1em;
    border: 1px solid #a6c4c4;
    background-size: cover;
    background-image: url(images/manAchter.svg);
    color: white;
    font-size: 1.2em;
    line-height: 1.2em;
}

article button {
    background-repeat: no-repeat;
    width: 10%;
    padding-top: 10%;
    background-color: transparent;
    display: inline;
    border: 0px;
    position: absolute;
}

article button:first-of-type {
    background-image: url('images/like.svg');
    right: 1em;
}

article button:nth-of-type(2) {
    background-image: url('images/opslaan.svg');
    right: 6em;
}

article button#verhaal84 {
    width: 11%;
    right: -22em;
    position: relative;
}

article button:first-of-type:focus {
    background-image: url('images/a-like.svg');
    outline: 0;
}

article button:first-of-type:hover {
    background-image: url('images/a-like.svg');
    transform: scale(1.1);
}

article button#favorieten {
    background-image: url('images/a-like.svg');
}

article button:nth-of-type(2):focus {
    background-image: url('images/downloaden.gif');
    background-repeat: no-repeat;
    background-size: 4em 4em;
    outline: 0;
}

article button:nth-of-type(2):hover {
    transform: scale(1.1);
}

article p>img {
    width: 16em;
    height: 1em;
    margin-left: 0.5em;
}

article img [src="images/manTitel.svg"] {
    display: inline;
    height: 4em;
    width: 14em;
}

figure a img {
    width: 100%;
    margin-bottom: 0.5em;
}

main details button[alt="downloadknop"] {
    width: 7em;
    height: 3.5em;
    margin: 3em 0 0 0;
    background-image: url(images/downloadknophover.svg);
}

main details button[alt="downloadknop"]:focus {
    background-image: url(images/downloadknop.svg);
}

/**********************/





/*********  HET VERHAAL  *************/

del {
    text-decoration: none;
}

small {
    font-size: inherit;
}

@keyframes eerste {
    0% {
        left: 0px;
        top: 0px;
    }
    25% {
        left: 100px;
        top: 0px;
        font-size: 3em;
    }
    50% {
        left: 100px;
        top: 100px;
    }
    75% {
        left: 0px;
        top: 100px;
    }
    100% {
        left: 0px;
        top: 0px;
    }
}

@keyframes tweede {
    0% {}
    25% {
        color: black;
    }
    50% {
        text-decoration: overline;
    }
    75% {
        text-decoration: underline;
    }
    100% {}
}

.strong {
    margin-left: -4em;
    font-size: 2em;
    margin-right: 1em;
    font-family: "Times New Roman", Times, serif;
    font-weight: 100;
    width: 100px;
    height: 100px;
    position: relative;
    animation-name: eerste;
    animation-duration: 4s;
}

.small {
    font-size: 0.4em;
    font-family: "Lucida Console", Monaco, monospace;
    font-weight: 100;
    font-style: italic;
    margin-left: 9em;
    margin-right: 8em;
    line-height: 0.1em;
    color: grey;
}

.marked {
    margin-left: -4em;
    font-size: 3em;
    margin-right: 1em;
    font-family: "Times New Roman", Times, serif;
    font-weight: 100;
    background-color: #dedede5e;
    color: black;
}

.del {
    text-decoration: line-through;
    margin-right: 3em;
    margin-left: 10em;
    font-size: 2em;
    font-family: "Courier New", Courier, monospace;
    width: 100px;
    height: 100px;
    position: relative;
    animation-name: tweede;
    animation-duration: 4s;
}

/**********************/
